<!DOCTYPE html>
<html lang="nl">
<%- include('../partials/head'); %>
<body class="body-mywork">
    <header class="sticky-header-2">
        <div>
            <a href="index.html"><img src="../img/logo.svg" alt="logo"></a>
            <nav id="menu-bars">
                <i class="fa-solid fa-bars"></i>
                <ul>
                    <li><a href="#about">About me</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#">My work</a></li>
                    <li><a href="#">Experiences</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <nav class="mobile-nav">
        <i id="menu-cross" class="fa-solid fa-xmark"></i>
        <ul>
            <li><a href="#about"><i class="fa-solid fa-user"></i>About me</a></li>
            <li><a href="#skills"><i class="fa-solid fa-code"></i>Skills</a></li>
            <li><a href="#"><i class="fa-solid fa-paintbrush"></i>My work</a></li>
            <li><a href="#"><i class="fa-solid fa-laptop"></i>Experiences</a></li>
            <li><a href="#"><i class="fa-solid fa-envelope"></i>Contact</a></li>
        </ul>
    </nav>
    <main class="main-mywork">
        <h1><%= work.name %></h1>
        <section class="slider">
            <img src="/<%= work[0].cover %>" alt="<%= work[0].name %>">
            <div>
                <img src="../img/w-chingu.jpg" alt="Chingu">
                <img src="../gif/mojo.gif" alt="Gif">
                <img src="../img/w-mojo-2.jpg" alt="Chingu">
            </div>
        </section>
        <section class="alert">
            <h2>! Open in Google Chrome voor betere ervaring</h2>
            <a href="">Open Live Demo</a>
        </section>
        <article class="work-intro">
            <h3>Opdracht</h3>
            <p><%= work[0].mission %></p>
            <h3>Doel</h5>
            <p><%= work[0].goal %></p>
            <h3>Programma's</h5>
            <p><%= work[0].programs %></p>
        </article>
        <section class="wat-gedaan">
            <h2>Wat heb ik gedaan?</h2>
            <p><%= work[0].done1 %></p>
            
        </section>
    </main>
    <script src="https://kit.fontawesome.com/c24c386355.js" crossorigin="anonymous"></script>
    <script src="js.js"></script>
</body>
</html>