<!DOCTYPE html>
<html lang="nl">
<%- include('../partials/head'); %>
<body>
    <header class="home-header">
        <h1 class="visually-hidden">Xiao Nan Portfolio</h1>
        <nav class="nav-logo">
            <div>
                <a href="/"><img src="img/logo.svg" alt="logo"></a>
            </div>
        </nav>
        <nav class="head-nav">
            <ul>
                <li><a href="#about"><i class="fa-solid fa-user"></i>About me</a></li>
                <li><a href="#skills"><i class="fa-solid fa-code"></i>Skills</a></li>
                <li><a href="#"><i class="fa-solid fa-paintbrush"></i>My work</a></li>
                <li><a href="#"><i class="fa-solid fa-laptop"></i>Experiences</a></li>
                <li><a href="#"><i class="fa-solid fa-envelope"></i>Contact</a></li>
            </ul>
        </nav>
        <header class="sticky-header">
            <div>
                <a href="/"><img src="img/logo.svg" alt="logo"></a>
                <nav id="menu-bars">
                    <i class="fa-solid fa-bars"></i>
                    <ul>
                        <li><a href="#about">About me</a></li>
                        <li><a href="#skills">Skills</a></li>
                        <li><a href="#">My work</a></li>
                        <li><a href="#">Experiences</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
            
        </header>
        <div>
            <img src="img/me.png" alt="Xiao Nan Pols">
        </div>
        <%- include('../partials/mobile-nav'); %>
    </header>
    <section class="s-about" id="about">
        <h2 class="s-title">About me</h2>
        <p>Mijn naam is Xiao Nan Pols. Ik ben 20 jaar en zit op de HvA en studeer CMD (Communicatie Multimedia Design). Momenteel zit ik in het 2e jaar.</p>
        <p>Ik sport graag en ben goed in portret tekenen, mijn werk is te vinden via Instagram. Daarnaast heb ik 2 kinderboeken uitgebracht genaamd: Zwarte Ziel en Blauwe Ziel. Zwarte Ziel gaat over het leven van een gothic meisje en Blauze Ziel gaat over een Chinees meisje met blauwe ogen. Ze zijn te bestellen via Boukscout.nl Ik lees graag en ben nieuwsgierig naar andere Aziatische culturen. Zo bestudeer ik Chinese, Japanse en Zuid-Koreaanse cultuur door middel van beeld en geluid.</p>
        <div>
            <h3>Goals</h3>
            <p>Ik heb basiskennis JavaScript en hoop om mezelf daarin te ontwikkelen. Ook wil ik mijn HTML CSS skills verbeteren zodat ik mij meer kan verdiepen in animaties die je kan maken met CSS. Daarnaast wil ik ook weten hoe je uitgebreider je HTML-bestand semantisch maakt. Ik wil graag voelen hoe het is om te werken als front-end developer met design skills en wil zoveel mogelijk leren op mijn toekomstige werkplek zodat ik mij kan blijven ontwikkelen op dat vakgebied.</p>
        </div>
    </section>
    <section class="s-skills" id="skills">
        <div>
            <h2 class="s-title">Skills</h2>
            <section class="skill-group">
                    <h3 class="visually-hidden">Skill bar</h3>
                    <% skills.forEach(skill => { %>
                        <article>
                            <div class="circle-bg">
                                <div class="circle-content">
                                    <div>
                                        <img src="/<%= skill.img %>" alt="<%= skill.name %>">
                                        <p><%= skill.percent %>%</p>
                                        <h4><%= skill.name %></h4>
                                    </div>
                                </div>
                            </div>
                        </article>
                    <% }); %>
            </section>
        </div>
    </section>
    <section class="s-work" id="work">
        <h2 class="s-title">My work</h2>
        <section>
            <h3 class="visually-hidden">Carousel</h3>
            <div>
                <a href="/chingu">
                    <article>
                        <h4><%= work[0].name %></h4>
                        <h5>Opdracht</h5>
                        <p><%= work[0].mission %></p>
                        <h5>Doel</h5>
                        <p><%= work[0].goal %></p>
                        <img src="/<%= work[0].cover %>" alt="<%= work[0].name %>">
                    </article>
                </a>
                <a href="/xiaocoijs">
                    <article>
                        <h4><%= work[1].name %></h4>
                        <h5>Opdracht</h5>
                        <p><%= work[1].mission %></p>
                        <h5>Doel</h5>
                        <p><%= work[1].goal %></p>
                        <img src="/<%= work[1].cover %>" alt="<%= work[1].name %>">
                    </article>
                </a>
                <a href="/">
                    <article>
                        <h4><%= work[2].name %></h4>
                        <h5>Opdracht</h5>
                        <p><%= work[2].mission %></p>
                        <h5>Doel</h5>
                        <p><%= work[2].goal %></p>
                        <img src="/<%= work[2].cover %>" alt="<%= work[2].name %>">
                    </article>
                </a>
                <a href="/">
                    <article>
                        <h4><%= work[3].name %></h4>
                        <h5>Opdracht</h5>
                        <p><%= work[3].mission %></p>
                        <h5>Doel</h5>
                        <p><%= work[3].goal %></p>
                        <img src="/<%= work[3].cover %>" alt="<%= work[3].name %>">
                    </article>
                </a>
                <a href="/">
                    <article>
                        <h4><%= work[4].name %></h4>
                        <h5>Opdracht</h5>
                        <p><%= work[4].mission %></p>
                        <h5>Doel</h5>
                        <p><%= work[4].goal %></p>
                        <img src="/<%= work[4].cover %>" alt="<%= work[4].name %>">
                    </article>
                </a>
                <a href="/">
                    <article>
                        <h4><%= work[5].name %></h4>
                        <h5>Opdracht</h5>
                        <p><%= work[5].mission %></p>
                        <h5>Doel</h5>
                        <p><%= work[5].goal %></p>
                        <img src="/<%= work[5].cover %>" alt="<%= work[5].name %>">
                    </article>
                </a>
                <a href="/">
                    <article>
                        <h4><%= work[6].name %></h4>
                        <h5>Opdracht</h5>
                        <p><%= work[6].mission %></p>
                        <h5>Doel</h5>
                        <p><%= work[6].goal %></p>
                        <img src="/<%= work[6].cover %>" alt="<%= work[6].name %>">
                    </article>
                </a>
                <a href="/">
                    <article>
                        <h4><%= work[7].name %></h4>
                        <h5>Opdracht</h5>
                        <p><%= work[7].mission %></p>
                        <h5>Doel</h5>
                        <p><%= work[7].goal %></p>
                        <img src="/<%= work[7].cover %>" alt="<%= work[7].name %>">
                    </article>
                </a>
            </div>
        </section>
    </section>
    
    <script src="https://kit.fontawesome.com/c24c386355.js" crossorigin="anonymous"></script>
    <script src="js/home.js"></script>
</body>
</html>